.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  /*opacity: 0.8;*/
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link .apple-logo {
  font-size: 21px;
  line-height: 0;
}

.dropdown-dark {
	background-color: #000!important;
	opacity: 0.6;
	text-align: center;
}

.dropdown-dark a {
	color: #ffffff;
}

.dropdown-dark :hover {
	background-color: #ff005d;
	text-decoration: none;
}
